<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Plan dyżurów</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <div  th:each="day : ${days}">

                    <h1 th:text="${day}">  </h1>
                    <table class="table table-dark">

                        <thead>
                        <tr>
                            <th scope="col" th:text="${day}"></th>
                            <th th:each="place : ${placesOfGuard}" th:text="${place.getName()}"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="break : ${breaks}">
                            <th scope="row">Przerwa nr: <span th:text="${break.getBreakNumber()}"></span>
                                <div th:text="${break.getBreakTime()}"></div>
                            </th>
                            <td th:each="place : ${placesOfGuard}">
                                <form th:action="'/addDuty/'
                                + ${place.getId()} + '/'
                                + ${break.getId()} + '/' + ${day}" method="post" th:object="${dutyForm}">
                                    <select  class="form-control" th:field="*{teacherId}">
                                        <!--<option selected>Nauczyciel...</option>-->
                                        <option th:each="teacher : ${teachers}" th:text="${teacher}" th:value="${teacher.getId()}"></option>
                                    </select>
                                    <button type="submit" class="btn btn-primary">Dodaj</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col col-lg-2">
                <h1>Nauczyciele</h1>
                <div th:each="teacher : ${teachers}" th:text="${teacher}"></div>
            </div>
        </div>
    </div>

</body>
</html>